<div class="input" name="input">{{ count | async }}</div>
<div class="buttons">
  <div class="column">
    <div class="row">
      <button (click)="seven()">7</button>
      <button (click)="eight()">8</button>
      <button (click)="nine()">9</button>
    </div>
    <div class="row">
      <button (click)="four()">4</button>
      <button (click)="five()">5</button>
      <button (click)="six()">6</button>
    </div>
    <div class="row">
      <button (click)="one()">1</button>
      <button (click)="two()">2</button>
      <button (click)="three()">3</button>
    </div>
    <div class="row">
      <button (click)="clear()"><</button>
      <button (click)="zero()">0</button>
      <button (click)="enter()">E</button>
    </div>
  </div>
</div>
